%div.row
  %div.columns.large-3
    = form_tag '/profile' do
      = label_tag :name
      = text_field_tag :name, @current_user.name
      = label_tag :email
      = text_field_tag :email,nil,:autofocus => true
      = label_tag :address
      = text_field_tag :address
      = label_tag :password
      = password_field_tag :password
      = label_tag :password_confirmation
      = password_field_tag :password_confirmation
      = submit_tag "Update Profile", :class => 'button radius'
  %div.large-9.columns