%div.row
  %div.large-3.columns
    = form_for @user do |f|
      = f.label :name
      = f.text_field :name, :autofocus => true
      = f.label :password
      = f.password_field :password
      = f.submit 'Sign In', :class => 'button radius'
  %div.large-9.columns