%div.row
  %div.columns.large-3
    = form_tag '/signin' do
      = label_tag :name
      = text_field_tag :name, nil, :autofocus => true
      = label_tag :password
      = password_field_tag :password
      = submit_tag 'Sign in', :class => 'button radius'
  %div.columns.large-9